body{
    background-color: #f7f7fc;
}
.head{
    border-style: solid;
    border-color: #eee;
    border-width: 0.4px;
    border-radius: 3px;

    background-color: #ffffff;
}


.mbody .content_block {

    border-style: solid;
    border-color: #eee;
    border-width: 0.4px;
    border-radius: 3px;

    background-color: #ffffff;
}

.split_line {
    height: 1px;
    background-color: #bbbbbb;
}

.head_bottom #selects .aselect:hover {
    background-color: #f6f0f0;
    color: #1090c0;
}

.head_bottom #selects .aselect-selected {
    background-color: #f6f0f0;
}