body{
    background-image: url(/rec/main_back_1.jpg);
    background-attachment: fixed;
    background-repeat: round repeat;
}

.mbody .content_block {
   
    margin-top: 10px;
    padding: 20px;
    height: max-content;
    width: auto;

    border-style: none;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px 5px #88889990;

    background-color: #ffffff99;
    backdrop-filter: blur(20px);
    
}

.split_line {
    height: 2px;
    background-color: #bbbbbbdd;
}