@media screen and (orientation: portrait) {

    /* 竖屏样式 */
    #main {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .mhead .head_bottom {
        flex-direction: column;
        justify-content: start;
    }

    .mhead .head_bottom_fixed{
        width: 92.4%;
        left:  3.8%;
        position: fixed;
        /* border: #000; */
    }

    .head_bottom #search {
        /* 直接隐藏 */
        display: none;
    }

    .head_bottom #numbers {
        /* 直接隐藏 */
       display: none;
    }

    .head_bottom_fixed #head2 {
        display: none;
    }

    .mbody {
        flex-direction: column;
    }

    .mbody #mbody_left {
        width: 100%;
    }

    .mbody #mbody_right {
        margin-top: 14px;
        margin-left: 0%;
        width: 100%;
    }

}

