/*               head部分              */
.mhead {
    margin-top: 0.2px;
    /* border-style: outset; */
    /* border-width: 2px;
    border-color: #ffffff60;*/
    border-radius: 5px;
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* 头部的上半部分 ////////////////////////////////////////////////////////////*/
.mhead #head_top {
    background-image: url(/rec/biliback.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mhead #head_top #head1 {
    /*包含头像的那一个长方形*/
    height: 65px;
    padding: 10px;
    width: 100%;
    display: flex;
}

.mhead #head_top #avatar1 {
    height: 65px;
    width: 65px;
    border-radius: 33px;
    background-color: #fff;
    margin-right: 15px;
}

.mhead #head_top #name1 {
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/*座右铭*/
.mhead #head_top #motto {
    margin-top: 6px;
    font-size: 15px;
    color: #fff;
}


/* 头部的下半部分 //////////////////////////////////////////////////////////////*/
.mhead .head_bottom {
    height: 60px;
    top:-20px;
    display: flex;
    justify-content: end;
    background-color: #fff;
    overflow: hidden;
    transition: top 0.4s ;
}
/* 为headbuttom设定下面的类时，固定headbuttom */
.mhead .head_bottom_fixed{
    width: 100vw;
    left:  0px;
    top: 0px;
    position: fixed;;
    /* border: #000; */
}

.head_bottom #head2 {
    margin-right: 10px;
    height: 100%;
    display: none;
    
}

.head_bottom_fixed #head2 {
    width: auto;
    display: flex;
}

.head_bottom #head2 #avatar2 {
    margin:8% 5px;
    height: 84%;
    width: var(height);
    align-self: center;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 15px;
}

.head_bottom #head2 #name2 {
    align-self: center;
    padding: auto;
    display: inline-block;
}


.head_bottom #selects {
    /*这是head里包含所有选项的复选框*/
    /* align-items: center; */
    margin: 0px;
    padding: 0px;
    /* height: auto; */
    height: 100%;
    display: flex;
    padding: auto;
}

.head_bottom #selects li {
    /* margin-left: 25px; */
    height: 100%;
    list-style: none;
}

.head_bottom #selects .aselect {
    /*li中嵌套的第一层dvi*/
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* background-color: #eee; */
    height: 100%;
    padding: 18px;
}

.head_bottom #search {
    align-items: center;
    display: flex;
    margin-left: auto;
    height: auto;
}

.head_bottom .search_box {
    padding: 0px 10px;

    overflow: hidden;

    border: #66666666;
    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
}

.head_bottom .search_box_focus {
    border-color : #1090c0;
}

.search_box .search_text {
    border-style: none;
    outline: none;
}

.search_box .search_button {
    border-style: none;
    color: #000;
}
.search_box .search_button:hover {
    color: #10abd6;
}

.search_box .search_text:focus {
    border-style: none;
}


.head_bottom #numbers {
    align-items: center;
    height: auto;
    margin-left: 20px;
}
