body {
    background-color: #eee;
    min-height: 100%;
}

#main {
    margin-top: 2px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 97vh;
    display: flex;
    flex-direction: column;
}